<!-- Description:
Filter and select a record from a table or query.
-->

<!-- Props:
modelValue: object
  Value of the currently selected record.

table: qb.TableViewModel | qb.TableQuery | string
  Required. The table/query to retrieve records from.

filterFields: string | string[]
  Field name or names to filter by. Default: ['objectId'].

label: string
  QSelect label. Default: "ID".

optionLabel: string | (item: object)=>string
  Field name or function returning a string to represent each item.
  Default: 'objectId'

fetchLimit: number,
  Max number of records to show at a time. Default: 10.
-->

<!-- Example Usage:
<template>
  <qb-select
    v-model="model"
    label="Select a Contact"
    :table="myTable"
    :option-label="optionsLabel"
    :filter-fields="searchableFields"
    :fetch-limit="limit"
  />
</template>
<script>
export default {
  setup() {
    const model = ref();
    return {
      model,                             // `model.value` is the currently selected record
      myTable: qb.table('Person'),       // Retrieve records from Person table
      searchableFields: [ 'firstName' ], // Filter records by firstName
      optionsLabel: (item) => item.name, // Display options using name
      limit: 10,                         // Maximum fetch size (default 10 if omitted)
    }
  }
}
</script>
-->

<template>
  <q-select use-input hide-selected fill-input
    v-model="model"
    :label="label"
    :options="filteredOptions"
    :option-label="getOptionLabel"
    @filter="onFilter"
    :loading="isLoading() || loading"
    :clearable="clearable"
  >
    <template v-for="(_, slot) in $slots" v-slot:[slot]="scope">
        <slot :name="slot" v-bind="{...scope}" />
    </template>
  </q-select>
</template>

<script lang="ts">
import * as qb from '..'
import { ref, onMounted, computed, defineComponent, PropType } from 'vue'

export default defineComponent({

  props: {
    modelValue:   Object,
    table: {
      type: [ qb.TableViewModel, qb.TableQuery, String ] as PropType<qb.TableViewModel | qb.TableQuery | string>,
      required: true
    },
    filterFields: {
      type: [ String, Array ] as PropType<string | string[]>,
      default: [ 'objectId' ]
    },
    label:        { type: String, default: "ID" },
    optionLabel:  {
      type: [ String, Function ] as PropType<string | ((item:object)=>string)>,
      default: 'objectId'
    },
    fetchLimit:   { type: Number, default: 10 },
    loading:      { type: Boolean },
    clearable:    { type: Boolean },
  },

  emits: [ 'update:modelValue' ],

  setup(props, context) {
    const local = qb.init();
    const selectField = ref();
    const filteredOptions = ref([] as object[]);

    const table = computed(() => {
      return (typeof props.table === 'string') ? qb.table(props.table) : props.table;
    });

    const fetchFiltered = async (filter: string = '', limit: number = 10) => {
      const needle = filter.toLowerCase();
      const filterFields = Array.isArray(props.filterFields)
        ? props.filterFields as string[]
        : [ props.filterFields as string ];
      const clause = filterFields.map(f => `(LOWER(${f}) LIKE '%${needle}%')`).join(' OR ');
      return table.value
        .where(clause)
        .size(limit)
        .fetch();
    }

    const updateOptions = async (filter: string = '', limit: number = 10) => {
      local.setLoading('fetch', true);
      try {
        const results = await fetchFiltered(filter, limit) as object[];
        filteredOptions.value.splice(0, filteredOptions.value.length, ...results);
        // force a refresh as the menu doesn't properly
        // rerender after option changes.
        selectField.value?.refresh();
      } finally {
        local.setLoading('fetch', false);
      }
    }

    onMounted(() => updateOptions(undefined, props.fetchLimit));

    return {
      ...local, selectField, filteredOptions,

      model: computed({
        get: () => props.modelValue,
        set: v => context.emit('update:modelValue', v),
      }),

      onFilter: (val: string, update: Function, abort: Function) => {
        update(() => updateOptions(val, props.fetchLimit));
      },

      getOptionLabel: computed(() => {
        if (typeof(props.optionLabel) === 'string')
          return (item:any) => item[props.optionLabel as string] ?? String(item);
        else
          return props.optionLabel;
      }),
    }
  },

})
</script>