<template>
  <q-table
    v-bind="$props /* Pass down QBTable attrs to QTable */"
    :rows="data"
    row-key='objectId'
    v-model:pagination="pagination"
    :loading="isLoading"
    :filter="filter"
    @request="onRequest"
  >
    <template v-slot:top-right>
      <q-input dense debounce="300" v-model="filter" placeholder="Search" v-bind="searchProps">
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>

    <!-- Pass down QBTable slots to QTable -->
    <template v-for="(_, slot) of $slots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-table>
</template>

<script>
import { defineComponent, ref, toRefs, watch, onMounted } from 'vue'
import * as qb from '..'

export default defineComponent({

  props: {

    /**
     * Name of the Table to retrieve data.
     */
    table: {
      type: [String, qb.TableViewModel, qb.TableQuery],
      required: true,
    },

    columns: Array,

    where: String,

    sortBy: { type: String, default: '' },
    descending: { type: Boolean, default: false },
    page: { type: Number, default: 1},
    rowsPerPage: { type: Number, default: 5},

    searchProps: { type: Object },

  },

  setup (props, context) {

    const { table, columns, where } = toRefs(props);

    const vmTable = typeof (table.value) == 'string' ? ref(qb.table(table.value)) : table;
    const data = ref([]);
    const isLoading = ref(false);
    const filter = ref('');
    const pagination = ref({
      sortBy: props.sortBy,
      descending: props.descending,
      page: props.page,
      rowsPerPage: props.rowsPerPage,
      rowsNumber: 0,
    });

    const onRequest = async (newProps) => {
      if (isLoading.value)
        return;
      isLoading.value = true;

      const { page, rowsPerPage, sortBy, descending } = (newProps?.pagination ?? pagination.value);
      const filter = newProps?.filter;

      let query = vmTable.value;

      if (columns?.value != null) {
        let fields = columns.value.filter(c => c.field != '').map(c => c.field);
        query = query.select(fields.concat('objectId'));

        let filterBuffer = '';
        if (where?.value != null) {
          filterBuffer += where.value;
        }

        if (filter != null && filter != '') {
          if (filterBuffer != '') {
            filterBuffer += ' AND ( '
            let searchFilters = '';
            fields.forEach(field => {
              searchFilters += (searchFilters == '' ? '' : ' OR ') + `(${field} LIKE '%${filter}%')`;
            });
            filterBuffer += searchFilters + ' ) '
          } else {
            fields.forEach(field => {
              filterBuffer += (filterBuffer == '' ? '' : ' OR ') + `(${field} LIKE '%${filter}%')`;
            });
          }
        }

        if (filterBuffer != '') {
          query = query.where(filterBuffer);
        }
      }

      let fetchCount = query.fetchCount();

      const startRow   = (page - 1) * rowsPerPage;
      const pageSize   = rowsPerPage == 0 ? await fetchCount : rowsPerPage;
      const sortFilter = sortBy == null ? '' : (descending ? (sortBy + ' DESC') : sortBy);
      const results    = await query
        .offsetSize(startRow, pageSize)
        .sort(sortFilter)
        .fetch();
      data.value.splice(0, data.value.length, ...results);

      pagination.value.page        = page;
      pagination.value.rowsPerPage = rowsPerPage;
      pagination.value.sortBy      = sortBy;
      pagination.value.descending  = descending;
      pagination.value.rowsNumber  = await fetchCount;

      isLoading.value = false;
    }


    onMounted(onRequest);

    watch(() => props.table, function (val, old) {
      vmTable.value = typeof val == 'string' ? qb.table(val) : val;
      onRequest();
    });

    watch(() => props.columns, function (val, old) {
      onRequest();
    });

    watch(() => props.where, function (val, old) {
      onRequest();
    });

    return {
      vmTable,
      data,
      isLoading,
      filter,
      pagination,

      onRequest,
    };
  },

})
</script>